$--color--bgLight: #0000FF;
$--color--bgWhite: #FFFFFF;
$--color--bgDark: #00008B;
$--color-fontGrey: #484c58;
$--color--black: #000000;
$--color--imgBg: #f0eaea;
$--color--fontWhite: #ffffff;
$--color--fontOrange: #f36d4b;
$--color--fontBgright: #c5b8d6;
$--color--iconColor: #04145a;
$--color--titleColor: #353232;
$--color--middleBg: #a5a7a7;